*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.swp
*.synctex.gz
*.tdo
*.thm
*.toc
thesis.pdf
thesis.synctex.gz(busy)
auto/*
/documents/kurzfassung.pdf
/documents/auto/kurzfassung.el
/content/.#adding-contextualized-concepts.tex
/content/#adding-contextualized-concepts.tex#
