*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.swp
*.synctex.gz
*.tdo
*.thm
*.toc
*.nav
*.snm
thesis.pdf
thesis.synctex.gz(busy)
auto/*
/documents/auto/preamble-summary.el
/documents/auto/kurzfassung.el
/content/#adding-contextualized-concepts.tex#
*.el
/thesis_eingereicht.pdf
